@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    font-size: 82.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body{
    background-color: #000;
}
section {
    margin-top: 50px;
}
.btn-contact{
   color: #29d9;
   font-size: 14px;
   border: 2px solid #29d9;
   padding: 10px 50px;
   transition: 0.5s;
   font-weight: bolders;
}
.btn-contact:hover {
    background-color: #29d9;
    color: #fff;
}
/* home */ 

#home {
    background: linear-gradient(rgba(0,0,0,0.1),#000),url(Images/Accueil\ 2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#home h2 {
    font-size: 55px;
    margin-bottom: 10px;
    color: #154360;
    text-transform: lowercase;
}
#home h4 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}
.home-btn {
    margin-bottom: 20px;
}
.finder-objet{
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}
.finder-objet form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.finder-objet form div , .finder-objet form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.finder-objet form label{
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}
.finder-objet form input{
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #154360;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}
.finder-objet form input[type="submit"]{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #154360;
    cursor: pointer;
    transition: 0.5s;
}
.finder-objet form input[type="submit"]:hover{
    box-shadow: 0 0 10px #154360;
}

/* a propos */


#a__propos {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10%;
    width: 100%;
}

.title02 {
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: #009dff;
    position: relative;
    margin-left: 15px;
    font-size: 24px;
}
.title02::after{
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #fff;
    width: 5px;
}
.img-a-propos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img-a-propos .left02 {
    position: relative;
    margin-left: 10px;
    height: 330px;
    width: 55%;
}
.img-a-propos .right02 {
    width: 57%;
    margin-left: 30px;
}
.img-a-propos .left02 video {
    width: 100%;
    height: 100%;
    position: relative;
}
.img-a-propos .left02::after{
    position: absolute;
    bottom: -10px;
    right: 10px;
    content: "";
    height: 100%;
    background-color: #154360;
    width: 100%;
    z-index: -1;
}

.img-a-propos .right02 h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.img-a-propos .right02 p {
    color: #999;
    font: 14px;
    margin-bottom: 36px;
}
.img-a-propos .right02 a {
    border: 1px solid #009dff;
    color: #009dff;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}
.img-a-propos .right02 a:hover{
    box-shadow: 0 0 10px #009dff;
}

/* section prooduit */

#prod__popu {
    padding: 0 10%;
    margin-bottom: 50px;
}

#prod__popu .content02 {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   gap: 32px;  
}
#prod__popu .content02 .box02 {
    overflow: hidden;
    position: relative;
    height: 250px;
    transition: 0.5s;
}
#prod__popu .content02 .box02 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box02 .content02 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.box02 .content02 h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.box02 .content02 p {
    font-size: 12px;
    padding: 2px;
}
.box02 .content02 p:nth-child(3){
    margin-bottom: 25px;
}
.box02 .content02 a {
    margin-top: 60px;
    padding: 10px 60px;
    border: 2px solid #154360;
    color: #154360;
    font-weight: bold;
}
.box02 .content02 a:hover{
    box-shadow: 0 0 10px #154360;
}
.box02:hover{
    box-shadow: 0 0 20px #154360;
}
.box02:hover .content02 {
    transform: translateX(0);
}

footer {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

footer p {
    color: #000;
}
footer p span{
    color: #154360;
}